#structural files
__pycache__/
*.pyc
.DS_Store

# resouces files to stay out for now
resources/
preprocessed_texts/
simplification_logs/
preprocessed_texts/apa-rst/1_preprocessed
master_data/

# ignore metrics and outdated files
metrics/
outdated_code/
