#structural files
__pycache__/
*.pyc
.DS_Store
.vscode/

# resouces files to stay out for now
preprocessed_texts/*
preprocessed_texts/apa-rst/*
extra_files_collection/*

# ignore metrics and outdated files
metrics/
outdated_code/
trl_directory/data_collection/
